@media only screen and (max-width: 1400px) {
    .action-btn span{
        display: none;
    }
}
.swl-title{
    color:black !important;
}
.sidebar-nav .nav-link.active {
    color: #4154f1 !important;
    background: #f6f9ff !important;
}